{% extends "base.html" %}
{% block content %}

<h2>Products</h2>
<div class="loop_container">
{% for product in products %}

<section class="view_list">
    <p>{{product.name}}</p>
    <p>{{product.description}}</p>
    <p>{{product.stock_quantity}}</p>
    <p>{{product.buy_price}}</p>
    <p>{{product.sell_price}}</p>
    <p>{{product.manufacturer.name}}</p>
    <a href="/products/{{ product.id }}/edit">Edit</a>
    <form action="/products/{{ product.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
</div>
<a href="/products/new" class="add_new">
    <img src="static/plus.png" class="plus_logo" alt="plus">
    </a>
{% endblock %}