{% extends "base.html" %}
{% block content %}

<h2>New product</h2>

<br>

<div class="reciepts_form">
<form action="/products" method="POST">
    <hr>
    <div class="form_item_container">
        <label for="name" class="form_label">Name:</label><br>
        <input type="text" id="name" name="name" class="form_input" required>
    </div>
    <div class="form_item_container">
        <label for="description" class="form_label">Description:</label><br>
        <input type="text" id="description" name="description" class="form_input" required>
    </div>
    <div class="form_item_container">
        <label for="stock_quantity" class="form_label">stock_quantity:</label><br>
        <input type="text" id="stock_quantity" name="stock_quantity" class="form_input" required>
    </div>
    <div class="form_item_container">
        <label for="buy_price" class="form_label">buy_price:</label><br>
        <input type="text" id="buy_price" name="buy_price" class="form_input" required>
    </div>
    <div class="form_item_container">
        <label for="sell_price" class="form_label">sell_price:</label><br>
        <input type="text" id="sell_price" name="sell_price" class="form_input" required>
    </div>
    <div class="form_item_container">
        <label for="manufacturer" class="form_label">Manufacturer:</label><br>
        <select name="manufacturer_id" id="manufacturer" class="form_select">
            {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.id }}">
                {{ manufacturer.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form_item_container">
        <button type="submit" class="form_submit"><i class="fa fa-check fa-3x" aria-hidden="true" style="color:skyblue;"></i></button>
    </div>
</form>
</div>
{% endblock %}
