{% extends "base.html" %}
{% block content %}

<h2>Product</h2>

<div class="loop_container">
 
    <hr>
    {% if product.stock_quantity >= 10%}
    <div class="product_container">
    {% elif product.stock_quantity <= 0%}
    <div class="product_container_no_stock">
    {% else %}
    <div class="product_container_low_stock">
    {% endif %}    
        
   
        <section id="product_info">
            <p class="product_tag">{{product.name}}</p>
            <p style="color:rgb(54, 64, 68)">"{{product.description}}"</p>
            <p style="color:rgb(54, 64, 68)">Stock: {{product.stock_quantity}}</p>
            <p style="color:rgb(54, 64, 68)">Buy Price: {{product.buy_price}}</p>
            <p style="color:rgb(54, 64, 68)">Sell Price: {{product.sell_price}}</p>
            <p style="color:rgb(54, 64, 68)">Manufacturer: {{product.manufacturer.name}}</p>
        </section>
        <section id="product_control">
            <a href="/products/{{ product.id }}/edit"><i class="fa fa-pencil-square-o fa-2x" style="color:skyblue" aria-hidden="true" id="reciept_edit_button"></i></a>
            <form action="/products/{{ product.id }}/delete" method="POST">
                <button id="reciept_delete"></i><i class="fa fa-trash-o fa-3x" style="color:black" aria-hidden="true"></i></button>
            </form>
        </section>
    </div>



</div>
<a href="/products/new" class="add_new">
    <img src="../static/plus.png" class="plus_logo" alt="plus">
</a>


{% endblock %}