{% extends "base.html" %}
{% block content %}

<h2>Manufacturers</h2>

<div class="loop_container">

{% for manufacturer in manufacturers %}

<section class="view_list">
    <p>{{manufacturer.name}}</p>
    <p>{{manufacturer.contact}}</p>
    <a href="/manufacturers/{{ manufacturer.id }}/edit">Edit</a>
    <form action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    
</section>

{% endfor %}
</div>
<a href="/manufacturers/new" class="add_new">
    <img src="static/plus.png" class="plus_logo" alt="plus">
    </a>
{% endblock %}