{% extends "base.html" %}
{% block content %}

<h2>Home</h2>

<br><br><br><br>
<hr>
<div class="home_flex_container">
    <div class="home_reciept_container">
        <h3>Today's Transactions</h3>
        <hr>

        {% for reciept in all_reciepts %}
        

        <section>

            <p>{{reciept.quantity}} x <a href="/products/{{ reciept.product.id }}" class="product_tag">{{reciept.product.name}}</a></p>
            <p>Markup:<br>£{{ (reciept.product.sell_price - reciept.product.buy_price) * reciept.quantity }}</p>

        </section>
        <hr>

        {% endfor %}
    </div>

    
   

    <div class="home_staff_container">
        <h3>Staff</h3>
        <hr>
        {% for staff in all_staff %}

        <section>
            <p>{{staff.name}}</p>
            <p>£{{"{:.2f}".format((staff.shift * 9.70))}}</p>
        </section>
        <hr>

        {%endfor%}
    </div>

</div>

<div class="markup_text">
<p>Total Product Markup = £{{"{:.2f}".format(total_markup) }}</p>
<p>Total Staff Wages = £{{total_wages}}</p>

    <hr>

 <p>Turnover = <b>£{{"{:.2f}".format(total_markup - total_wages)}}</b></p>

</div>

<!-- <h3>Menu</h3>
{% for product in all_products %}

<section>
    <p>{{product.name}} £{{product.sell_price}}</p>
</section>

{%endfor%} -->

{% endblock %}