{% extends "base.html" %}
{% block content %}

<h2>Home</h2>

<br><br><br>
{% set total_markup = 0 %}
{% set count = 0 %}

{% for reciept in all_reciepts %}
{% if loop.index <= 3 %}



<section>
    <p>{{reciept.quantity}} x {{ reciept.product.name }}</p>
    <p>Markup:<br>£{{ (reciept.product.sell_price - reciept.product.buy_price) * reciept.quantity }}</p>
    {%set count = count + 1%}
    {{count}}
    
    
    {% set total_markup = total_markup + ((reciept.product.sell_price - reciept.product.buy_price) * reciept.quantity) %}
    
    {{total_markup}}
    
    
</section>



{% endif %}
{% endfor %}

<hr>

<p>Total Markup = {{ total_markup }}</p>
<p>Count = {{count}}</p>


<hr>


{% for staff in all_staff %}

<section>
    <p>{{staff.name}}</p>
</section>

{%endfor%}


<hr> 


{% for product in all_products %}

<section>
    <p>{{product.name}} £{{product.sell_price}}</p>
</section>

{%endfor%}

{% endblock %}